@import "tailwindcss";

body{
    margin: 0;
}

input[role="combobox"] {
  font-size: 1.25rem !important;
  height: 4rem !important;
  width: clamp(180px, 22vw, 320px) !important;
}

body {
  font-family: 'Playfair Display', sans-serif;
}
